.nav {
  display: flex;
  justify-content: space-around;
}

.nav__container {
  max-width: 1160px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav__container ul {
  display: flex;
  margin-bottom: 0;
}

.nav__container li {
  list-style: none;
}

.nav__container li:not(:last-child) {
  margin-right: 25px;
}

.nav__container a {
  color: white;
  text-decoration: none;
}

.nav__container:hover {
  color: rgb(36, 36, 188);
}

@media (max-width: 1024px) {
  .nav__container a {
    font-size: 24px;
  }

  .nav ul li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 1100px) {
  .nav__container ul {
    display: none;
  }
}
