.contacts__img {
  height: calc(100vh - 250px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/services.jpg");
  background-position: center;
  background-size: cover;
}

.contacts__offer {
  width: 500px;
  margin: 0 auto;
  padding-top: 55px;
  text-align: center;
}

.contacts__offer h1 {
  font-size: 24px;
  font-weight: bold;
  color: wheat;
}

.contacts__offer p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* line-height: 36px; */
  font-size: 20px;
}

.form {
  background-color: #f6f5f5;
  padding: 40px 0 40px 0;
}

.form__madal {
  text-align: center;
}

.form__container {
  max-width: 1160px;
  width: 80%;
  margin: 0 auto;
}

.form__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__content {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__content h1 {
  margin-bottom: 30px;
}

.location {
  padding: 50px 0 50px 0;
  background-color: ghostwhite;
}

.location__container {
  max-width: 1160px;
  width: 80%;
  margin: 0 auto;
}

.location__context {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location__naming p {
  font-size: 28px;
  text-align: center;
}

.location__subnaming p {
  font-size: 20px;
  text-align: center;
  width: 800px;
  line-height: 40px;
}

.location__title {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 10px 0 25px;
}

.location__title p {
  font-size: 17px;
  width: 270px;
  font-weight: 700;
  color: darkolivegreen;
}

.location__position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .location__position iframe {
  width: 100%;
  height: 400px;
  border: 0;
  padding: 0;
} */

@media (max-width: 1440px) {
}

@media (max-width: 1152px) {
  .location__naming p {
    font-size: 26px;
    text-align: center;
  }

  .location__title {
    margin-top: 30px;
  }

  /* .location__position iframe {
    width: 920px;
    height: 400px;
  } */
}

@media (max-width: 1024px) {
  /* .contacts__offer {
    width: 400px;
  }

  .contacts__offer p {
    font-size: 16px;
    line-height: 32px;
  } */

  /* .location__map {
    width: 800px;
  } */
}

@media (max-width: 800px) {
  .contacts__offer {
    width: 360px;
  }
  .contacts__offer p {
    font-size: 14px;
    line-height: 28px;
  }
  .location__naming p {
    width: 550px;
    font-size: 20px;
  }

  /* .location__subnaming p {
    font-size: 16px;
    width: 600px;
    line-height: 32px;
  } */

  /* .location__map {
    width: 600px;
  } */
}

@media (max-width: 768px) {
  .contacts__offer h1 {
    font-size: 20px;
  }
  .contacts__offer p {
    font-size: 12px;
    line-height: 26px;
  }
  .location__title {
    padding: 25px 5px 0 25px;
  }

  .location__title p {
    font-size: 15px;
    width: 270px;
    font-weight: 700;
  }
}

@media (max-width: 426px) {
  .form__content {
    padding: 40px 0px 0px 0px;
  }

  .form {
    padding: 10px 0 10px 0;
  }

  .contacts__offer {
    padding-top: 45px;
    width: 250px;
    text-align: center;
  }

  .contacts__offer h1 {
    font-size: 16px;
  }

  .contacts__offer p {
    font-size: 10px;
    line-height: 18px;
  }

  .form__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .location {
    padding: 20px 0 50px 0;
  }

  .location__naming p {
    width: 300px;
    font-size: 14px;
  }

  /* .location__subnaming p {
    font-size: 11px;
    width: 300px;
    line-height: 28px;
  } */

  .location__title {
    padding: 10px 0px 0 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location__title h1 {
    font-size: 16px;
  }

  .location__title h2 {
    font-size: 16px;
  }

  .location__title p {
    font-size: 13px;
    width: 270px;
    font-weight: 700;
    text-align: center;
  }

  .location__title h2 {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .form__content h1 {
    font-size: 17px;
    text-align: center;
  }
  .contacts__offer {
    width: 200px;
    text-align: center;
  }

  .contacts__offer h1 {
    font-size: 12px;
  }

  .contacts__offer p {
    font-size: 8px;
    line-height: 14px;
  }
  .location {
    padding: 10px 0 20px 0;
  }

  .location__naming p {
    width: 260px;
    font-size: 14px;
  }

  .location__subnaming p {
    font-size: 10px;
    width: 270px;
    line-height: 20px;
  }

  .location__position iframe {
    width: 0px;
    height: 0px;
  }

  .location__title {
    padding: 5px 0px 0 0px;
  }

  .location__title h1 {
    width: 200px;
    text-align: center;
  }

  .location__title h2 {
    width: 200px;
    text-align: center;
  }

  .location__title p {
    font-size: 10px;
    width: 200px;
    font-weight: 700;
    text-align: center;
  }
}
